- title "<%= plural_table_name.titlecase %>", false
%h1
  =yield(:title)
  - if can? :manage, <%= singular_table_name.classify %>
    .btn-add= link_to "", new_<%= singular_table_name %>_path, :title => 'New <%= singular_table_name.titlecase %>'

%table
  %thead
    %tr
<% for attribute in attributes -%>
      %th <%= attribute.human_name %>
<% end -%>
      %th.actions
  %tbody
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
<% for attribute in attributes -%>
        %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
        %td
          = link_to 'Show', <%= singular_table_name %>
          %br
          = link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
          %br
          = link_to 'Destroy', <%= singular_table_name %>, :confirm => 'Are you sure?', :method => :delete
= will_paginate @<%= plural_table_name %>
